<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <link rel="icon" href="images/favicon.ico" sizes="16x16" type="image/png">
    <title><%= current_page.data.title || "Ali + Tasha" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <meta property="og:title" content="<%= current_page.data.title %>">
    <meta property="og:description" content="<%= current_page.data.description %>">
    <meta property="og:image" content="<%= current_page.data.image %>">
    <meta property="og:url" content="<%= current_page.data.url %>" >

  </head>
  <body>
    <div class="navigation">
      <nav>
        <% link_to "/" do %>
          <%= image_tag 'alitashalogo.png', id: "logo-image"%></a>
        <% end %>
        <ul class="list-group">
          <li>
            <%= link_to 'RSVP', "https://party-llama.herokuapp.com" %>
          </li>
          <li>
            <%= link_to 'Hotel', "/hotel" %>
          </li>
          <li>
            <%= link_to 'Schedule', "/schedule" %>
          </li>
          <li>
            <%= link_to 'Parking', "/parking" %>
          </li>
          <li>
            <%= link_to 'F.A.Q', "/faq" %>
          </li>
          <li>
            <%= link_to 'Artists', "/artists" %>
          </li>
          <li>
            <%= link_to 'Registry', "https://www.zola.com/registry/natashaandali" %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
