<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Ali + Tasha" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="navigation">
      <nav>
        <% link_to "#{config[:site_url]}/" do %>
          <%= image_tag 'alitashalogo.png', id: "logo-image"%></a>
        <% end %>
        <ul class="list-group">
          <li>
            <%= link_to 'RSVP', "#{config[:site_url]}/rsvp" %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Hotel', "#{config[:site_url]}/hotel" %>
          </li>
          <li>
            <%= link_to 'Schedule', "#{config[:site_url]}/schedule" %>
          </li>
          <li>
            <%= link_to 'Parking', "#{config[:site_url]}/parking" %>
          </li>
          <li>
            <%= link_to 'F.A.Q', "#{config[:site_url]}/faq" %>
          </li>
          <li>
            <%= link_to 'Artists', "#{config[:site_url]}/artists" %>
          </li>
          <li>
            <%= link_to 'Registry', "https://www.zola.com/registry/natashaandali" %>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
